{% assign trainings = site.data.data.trainings %}
{% if trainings %}
<section class="section trainings-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ trainings.title }}
  </h2>

  {% if trainings.intro %}
  <div class="intro">
      <p>{{ trainings.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for training in trainings.assignments %}
    <div class="item">

      <span class="training-title">
        {% if training.link %}
        <a href="{{ training.link }}" target="_blank">{{ training.title }}</a>
        {% else %}
        {{ training.title }}
        {% endif %}
      </span>

      {% if training.tagline %}
      - <span class="training-tagline">{{ training.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
